<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="{{ site.author }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% if page.title %}
    <title>{{ page.title }}</title>
    {% else %}
    <title>{{ site.name }}</title>
    {% endif %}
    <link rel="apple-touch-icon" sizes="180x180" href="/media/files/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/media/files/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/media/files/favicon-16x16.png">
    <link rel="manifest" href="/media/files/manifest.json">
    <link rel="mask-icon" href="/media/files/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/media/files/favicon.ico">
    <meta name="msapplication-config" content="/media/files/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link href="/atom.xml" rel="alternate" title="{{ site.name }}" type="application/atom+xml" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/media/css/style.css">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/retina.js/1.3.0/retina.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script type="text/javascript"> hljs.initHighlightingOnLoad(); </script>
  </head>
  <body>
      <div id="main" role="main">
        <header>
          <div id="header">
            <h1><a title="{{ site.name }}" class="" href="/">{{ site.name }}</a></h1>
          </div>
          <nav>
            {% for nav in site.navigations %}
            <span><a title="{{ nav.title }}" href="{{ nav.href }}"><i class="{{ nav.class }}"></i></a></span>
            {% endfor %}
          </nav>
        </header>
        <div id="content">
        {{ content }}
        </div>
        <footer>
          <div>
            {% assign first_post = site.posts | last %}
            &copy; {{ first_post.date | date: "%Y" }} ~ {{ site.time | date: "%Y" }} {{ site.author }} | powered by <a href="https://jekyllrb.com/" title="jekyll">jekyll</a> | themed by <a href="http://lhzhang.com" title="sext vi">sext vi</a> | fork <a href="https://gitlab.com/bizhishui/bizhishui.gitlab.io" title="fork me">me</a>
          </div>
        </footer>
      </div> <!-- main -->
  </body>
</html>
