---
layout: default
---

<article>
  <section class="title">
    <h2>{{ page.title }} </h2>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111752404-1"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

        gtag('config', 'UA-111752404-1');
    </script>
  </section>
  <section class="meta">
  <span class="time">
    <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
  </span>
  {% if page.categories %}
  <span class="categories">
    {% for category in page.categories %}
    <a href="/categories.html#{{ category }}" title="{{ category }}">#{{ category }}</a>
    {% endfor %}
  </span>
  <!-- BEGIN this would not work on any other domain -->
  <span
    class           = "like-wrapper"
    like-shortname  = '{{ site.disqus }}'
    like-identifier = '{{ page.guid }}'
    like-name       = '{{ page.title }}'
    like-btn        = '&#xf087;'
    like-link       = '{{ site.atom-baseurl }}{{ page.url }}'
    ></span>
  <script type="text/javascript">
    var l = document.createElement('script');
    l.type = 'text/javascript'; l.async = true; l.src = '//www.like-btn.com/javascript/widget.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(l);
  </script>
  <!-- END this would not work on any other domain -->
  {% endif %}
  {% if page.tags %}
  <span class="tags">
    {% for tag in page.tags %}
    <a href="/tags.html#{{ tag }}" title="{{ tag }}">#{{ tag }}</a>
    {% endfor %}
  </span>
  <!-- BEGIN this would not work on any other domain -->
  <span
    class           = "like-wrapper"
    like-shortname  = '{{ site.disqus }}'
    like-identifier = '{{ page.guid }}'
    like-name       = '{{ page.title }}'
    like-btn        = '&#xf087;'
    like-link       = '{{ site.atom-baseurl }}{{ page.url }}'
    ></span>
  <script type="text/javascript">
    var l = document.createElement('script');
    l.type = 'text/javascript'; l.async = true; l.src = '//www.like-btn.com/javascript/widget.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(l);
  </script>
  <!-- END this would not work on any other domain -->
  {% endif %}
  {% if page.update_date %}
  <span class="update_date">
    <i class="fa fa-refresh" aria-hidden="true"></i><time datetime="{{page.update_date | date:"%Y-%m-%d" }}">{{page.update_date | date:"%Y-%m-%d" }}</time>
    <!-- <i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i><time datetime="{{page.update_date | date:"%Y-%m-%d" }}">{{page.update_date | date:"%Y-%m-%d" }}</time> -->
  </span>
  {% endif %}
  </section>

  <section class="post">
  {{ content }}
 <div id="google_CSE"></div>
 <script>
  (function() {
      var cx = '015337290903480304109:kd_pzxoa92i';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
 </script>
 <gcse:search></gcse:search>
  </section>
  {% if page.guid %}
  <div class="divider">
    <span>
    {% if page.previous %}
    <a href="{{ page.previous.url }}"><i class="fa fa-chevron-left"></i></a>
    {% else %}
    <i class="fa fa-circle"></i>
    {% endif %}
    </span>
    <!-- BEGIN comment icon
    <span><a href="javascript:leave_comment();" id="leave_comment_link"><i class="fa fa-comment-o"></i></a></span>
    <span><a href="javascript:collapse_comment();" id="collapse_comment_link" style="display:none;"><i class="fa fa-chevron-up"></i></a></span>
      END comment icon -->
    <span>
    {% if page.next %}
    <a href="{{ page.next.url }}"><i class="fa fa-chevron-right"></i></a>
    {% else %}
    <i class="fa fa-circle"></i>
    {% endif %}
    </span>
  </div>
  {% endif %}

  <section  class="sharing">
    <div class="jiathis_style">
       <a class="jiathis_button_weixin"></a>
       <a class="jiathis_button_douban"></a>
       <a class="jiathis_button_fb"></a>
       <a class="jiathis_button_twitter"></a>
       <a class="jiathis_button_linkedin"></a>
       <a class="jiathis_button_tsina"></a>
       <a href="http://www.jiathis.com/share?uid=1900073" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
       <a class="jiathis_counter_style"></a>
    </div>
    <script type="text/javascript">
    var jiathis_config = {data_track_clickback:'true'};
    </script>
    <script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js?uid=1900073" charset="utf-8"></script>
  </section>

 <section class="comment">
 {% if site.disqus_shortname %}
 <div id="disqus_thread"></div>
 <!-- Add Disqus comments (not comment count) -->
 <script type="text/javascript">
     var disqus_shortname  = '{{ site.disqus_shortname }}';
     var disqus_identifier = '{{ page.url }}';
     var disqus_title      = '{{ page.title }}';
     var disqus_url        = '{{ site.url }}{{ page.url }}';
     // var disqus_developer = 1; // Comment out when the site is live
 
     (function() {
       var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
       dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
       (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
     })();
 </script>
 
 <!-- Add Disqus comment count (not the comments) -->
 <script type="text/javascript">
   /* * * CONFIGURATION VARIABLES * * */
   var disqus_shortname  = '{{ site.disqus_shortname }}';
   // var disqus_developer = 1; // Comment out when the site is live
 
   /* * * DON'T EDIT BELOW THIS LINE * * */
   (function () {
       var s = document.createElement('script'); s.async = true;
       s.type = 'text/javascript';
       s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
       (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
   }());
 </script>
 <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
 <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
 {% endif %}
 </section>

  <!-- BEGIN comment
  <section class="comment">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      var disqus_shortname = '{{ site.disqus }}';
      var disqus_identifier = '{{ page.guid }}';

      function leave_comment() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          $("#leave_comment_link").css("display", "none");
          $("#collapse_comment_link").css("display", "");
      };
      function collapse_comment() {
          // document.getElementById("disqus_thread").innerHTML = '';
          $("#disqus_thread").slideUp(400, function() {
              $("#disqus_thread").empty();
              $("#leave_comment_link").css("display", "");
              $("#collapse_comment_link").css("display", "none");
              $("#disqus_thread").css("display", "");
          });
      };
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </section>
  END comment -->
</article>
